.App {
  text-align: center;
}

.page-body{
  background-color: rgb(36, 48, 58)
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.line-color {
  background: #FF9933;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #138808, #FFFFFF, #FF9933);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #138808, #FFFFFF, #FF9933); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#username {
  color: #fff;
}

#wallet {
  color: rgb(241, 101, 110);
}

/*GameField*/

.game-field{
  background-color: rgb(30, 39, 48)
}

#speed {
  color: rgb(241, 101, 110);
}

.white-text-game-field{
  color: white;
}


/*Buttons*/
.form-check.form-check-inline {
  color: white;
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
}

#selected-company {
  color: white;
}
