.App {
  text-align: center;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.line-color {
  background: #FF9933;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #138808, #FFFFFF, #FF9933);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #138808, #FFFFFF, #FF9933); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav.navbar-nav{
  color: #fff;
}

.sign-up-from{
  width: 200px;
  font-size: 20px;
  color: black;
}

#username {
  color: #fff;
}

#wallet {
  color: rgb(241, 101, 110);
}

.game-settings{
  padding-left: 50px
}

#user-info{
  padding-top: 10px;
}


#chart-area {
  height: 1200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.game-field{
  background-color: rgb(30, 39, 48)
}

#speed {
  color: rgb(241, 101, 110);
}

.white-text-game-field{
  color: white;
}

#stocks-to-buy{
  width: 100px;
}

.form-text {
  color: black;
}

/*Buttons*/

.button-play{
}

.form-check.form-check-inline {
  color: white;
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
}



#selected-company {
  color: white;
}

#actions{
  margin-top: 50px;
}
